.container {
  display: inline-grid;
  grid-template-columns: auto auto auto auto auto auto auto;
  grid-template: auto auto auto auto auto auto auto;
  padding: 10px;

}
.item {
  width: 30px;
  height: 30px;
  background-color: lightblue;
  border: 5px solid white;
  padding: 10px;
  font-size: 20px;
  text-align: center;
}
